services:
  db:
    build:
      # sets where the docker engine will go look for resources to build this image
      # this includes also looking for data.
      context: ./postgresql
    # originally set to "always" so that everytime the docker daemon is restarted this is rerun automatically and the container starts automatically
    restart: no
    shm_size: 128mb
    environment:
      # sets password
      POSTGRES_PASSWORD: example
      # declares name of the database
      POSTGRES_DB: raw_data
      # declares port-binding from port 5432 in the container
      # to 5432 on the host system
    ports:
      - 5432:5432

  adminer:
    # used to create the graphical access interface to the database
    image: adminer
    # originally set to "always" so that everytime the docker daemon is restarted this is rerun automatically and the container starts automatically
    restart: no
    # makes it possible to access it from localhost:8080 port from browser
    ports:
      - 8080:8080

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    # volumes:
    #   - mongo_data:/data/db

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-producer-passengers:
    build: ./kafka-producer-passengers
    depends_on:
      - kafka

  kafka-consumer-passengers:
    build: ./kafka-consumer-passengers
    depends_on:
      - kafka
    restart: on-failure
    ports:
      - 8000:8000

  kafka-producer-tickets:
    build: ./kafka-producer-tickets
    depends_on:
      - kafka

  kafka-consumer-tickets:
    build: ./kafka-consumer-tickets
    depends_on:
      - kafka
      - kafka-consumer-passengers
    ports:
      - 8001:8001

  kafka-producer-sensors:
    build: ./kafka-producer-sensors
    depends_on:
      - kafka

  kafka-consumer-sensors:
    build: ./kafka-consumer-sensors
    depends_on:
      - kafka
      - kafka-consumer-passengers
    ports:
      - 8002:8002

  mongodb-sensors:
    build: ./mong
    depends_on:
      - kafka-consumer-sensors
    ports:
      - 8003:8003
