dask[complete]==2025.5.1
distributed==2025.5.1
pandas==2.3.0
sqlalchemy>=1.4.0
scikit-learn>=1.0.0
joblib>=1.1.0
boto3>=1.26.0
minio>=7.1.0
numpy==2.2.5
xgboost>=1.5.0
mlflow>=3.0.0
psycopg2-binary>=2.9.0
kafka-python>=2.0.0
fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart>=0.0.5
bokeh>=3.1.0
tornado==6.5.0
lz4==4.4.4
